<script setup>
const props = defineProps({
  modelValue: [String, Number, Object, Array],
  value: [String, Number, Object, Array],
  trueValue: {
    type: Boolean,
    default: true,
  },
  falseValue: {
    type: Boolean,
    default: false,
  },
  name: String,
  id: String,
  label: String,
});
const emits = defineEmits(["update:modelValue"]);

// const value = computed({
//   get() {
//     return props.value;
//   },
//   set() {
//     emits("update:modelValue");
//   },
// });

const isChecked = computed(() => {
  if (props.modelValue instanceof Array) {
    return props.modelValue.includes(props.value);
  }
  // Note that `true-value` and `false-value` are camelCase in the JS
  return props.modelValue === props.trueValue;
});

const updateInput = (event) => {
  const isChecked = event.target.checked;
  if (props.modelValue instanceof Array) {
    const newValue = [...props.modelValue];
    if (isChecked) {
      newValue.push(props.value);
    } else {
      newValue.splice(newValue.indexOf(props.value), 1);
    }
    emits("update:modelValue", newValue);
  } else {
    emits("update:modelValue", isChecked ? props.trueValue : props.falseValue);
  }
};
</script>
<template>
  <label :for="props.id" class="flex items-center">
    <slot name="content-left"></slot>
    <input
      :id="props.id"
      :name="props.name"
      :value="props.value"
      @change="updateInput"
      :checked="isChecked"
      class="hover:cursor-pointer w-4 rounded-md accent-skin-primary"
      type="checkbox"
    />
    <slot name="content-right"></slot>
  </label>
</template>
