<script setup>
// import { number } from '../../utils/inputValidator';

const props = defineProps({
  modelValue: {
    type: Number,
    default: 0,
  },
  max: {
    type: Number,
    default: 0,
  },
  isdisabled: {
    type: Boolean,
    defaultValue: false,
  },
  disableDecrement: Boolean,
  disableIncrement: Boolean,
  placeholder: [String, Number],
});
const emits = defineEmits(["onIncrement", "onDecrement", "onInput"]);

const value = computed({
  get() {
    return props.modelValue;
  },
  set(value) {
    if (typeof value === 'number') {
      emits("onInput", value);
    }
  },
});

const handleOnInputValidation = (input) => {
  if (
    (input.keyCode >= 48 && input.keyCode <= 57 && input.shiftKey === false)
    || (input.keyCode === 8 || input.keyCode === 46)) {
    return true;
  }
  input.preventDefault();
  return false;
}
const onFocus = (event) => {
  event.target.select();
};
</script>
<template>
  <div class="relative rounded-lg">
    <button
      type="button"
      :disabled="props.isdisabled"
      @click="emits('onDecrement')"
      class="flex absolute inset-y-0 left-0 items-center pl-3"
    >
      <Icon name="mdi:minus" />
    </button>
    <input
      v-model="value"
      type="number"
      class="bg-white border border-gray-300 text-gray-900 text-sm text-center rounded-lg focus:ring-blue-500 focus:border-blue-500 focus:outline-blue-500 block w-full py-2 dark:bg-slate-600 dark:text-gray-200 dark:placeholder:text-white/50 dark:border-opacity-30"
      :placeholder="props.placeholder"
      :disabled="props.isdisabled"
      min="1"
      :max="props.max"
      @click="onFocus"
      @keydown="handleOnInputValidation"
    />
    <button
      type="button"
      @click="emits('onIncrement')"
      class="flex justify-center items-center p-3 font-bold bg-skin-primary text-skin-secondary rounded-r-lg absolute right-0 inset-y-0"
      :disabled="props.isdisabled"
    >
      <Icon name="mdi:plus" />
    </button>
  </div>
</template>
