<script setup>
// import { useDebounceRef } from '../../utils/debounceRef';

const props = defineProps({
  modelValue: [String, Number],
  isRequired: Boolean,
  errors: Array,
  label: String,
  placeholder: String,
});
const emits = defineEmits([
  "onSearch",
  "onUnMounted",
  "onFocus",
  "update:modelValue",
]);

const searchInput = ref(null);
// const keyword = useDebounceRef(props.modelValue, 500);
const keyword = computed({
  get() {
    return props.modelValue;
  },
  set() {
    emits("update:modelValue")
  }
})


onUnmounted(() => {
  emits("onUnMounted");
});
defineExpose({
  searchInput,
});
</script>
<template>
  <div>
    <label
      :for="props.id"
      class="block mb-2 text-sm font-semibold text-neutral-900"
      v-if="props.label"
    >
      {{ props.label }}
      <span v-if="props.isRequired" class="text-skin-primary -ml-1">*</span>
    </label>
    <div class="relative">
      <div
        class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none"
      >
        <!-- <font-awesome-icon class="text-neutral-400" icon="fa-solid fa-magnifying-glass" /> -->
        <Icon name="mdi:magnify" size="20" class="text-neutral-400" />
      </div>
      <input
        ref="searchInput"
        v-model="keyword"
        @focus="() => emits('onFocus')"
        type="search"
        id="search"
        class="block text-sm focus:outline-none focus:ring transition-all duration-150 p-2 pl-9 w-full rounded-lg bg-white border border-gray-300 text-gray-900 dark:bg-slate-600 dark:text-gray-200 dark:placeholder:text-white/50 dark:border-opacity-30"
        :placeholder="props.placeholder"
        @input="emits('update:modelValue', $event.target.value)"
        required
      />
      <slot name="searchResult"> </slot>
    </div>
  </div>
</template>
