<script setup>
const props = defineProps({
  type: {
    type: String,
    default: "button",
  },
  color: {
    type: String,
    defautl: "primary",
  },
  disabled: {
    type: Boolean,
    default: false,
  },
  loading: {
    type: Boolean,
    default: false,
  },
  text: {
    type: String,
    default: "This is Button",
  },
});
</script>

<template>
  <button
    :type="props.type"
    :disabled="props.disabled"
    :class="[props.disabled ? 'bg-opacity-75' : '']"
    class="transition-all ease-linear py-2 px-3 rounded-md flex justify-center items-center text-sm font-semibold text-white bg-blue-600"
  >
    <Transition name="slide-up" mode="out-in">
      <!-- <ButtonLoading class="" v-if="props.loading" /> -->
      <Loading v-if="props.loading" />
      <slot v-else></slot>
    </Transition>
  </button>
</template>

<style scoped>
.slide-up-enter-active,
.slide-up-leave-active {
  transition: all 0.25s ease-out;
}

.slide-up-enter-from {
  opacity: 0;
  transform: translateY(-30px);
}

.slide-up-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
</style>
