<script setup>
const props = defineProps({
  value: [String, Number, Array],
  title: {
    type: String,
    default: "",
  },
  text: {
    type: String,
    default: "",
  },
  size: {
    type: String,
    default: "20",
  },
});
const countdown = ref(3);
const isCopied = ref(false);

let interval;
const shareProduct = async () => {
  try {
    isCopied.value = true;
    if (!navigator.canShare) {
      navigator.clipboard.writeText(props.value);
      interval = setInterval(() => {
        countdown.value -= 1;
      }, 1000);
    } else {
      await navigator.share({
        url: props.value,
        title: props.title,
        text: props.text,
      });
      interval = setInterval(() => {
        countdown.value -= 1;
      }, 1000);
    }
  } catch (error) {
    console.log(error);
  }
};
watch(countdown, (newval, oldval) => {
  if (newval === 0) {
    clearInterval(interval);
    countdown.value = 3;
    isCopied.value = false;
  }
});
</script>
<template>
  <button
    type="button"
    @click="shareProduct"
    :disabled="isCopied"
    class="relative"
  >
    <Transition name="slide-up" mode="out-in">
      <Icon name="material-symbols:check-circle-rounded" class="text-neutral-500 dark:text-slate-300" v-if="isCopied" />
      <Icon name="fe:share" :size="props.size" class="text-neutral-500 dark:text-slate-300" v-else />
      <!-- <font-awesome-icon
        class="text-neutral-400 dark:text-slate-300 text-xl"
        icon="fa-solid fa-circle-check"
        size="lg"
        v-if="isCopied"
      />
      <svg :width="props.width" :height="props.height" viewBox="0 0 256 256" class="fill-neutral-400 dark:fill-slate-200" fill="inherit" xmlns="http://www.w3.org/2000/svg" v-else>
        <path d="M216 200C216 210.609 211.786 220.783 204.284 228.284C196.783 235.786 186.609 240 176 240C165.391 240 155.217 235.786 147.716 228.284C140.214 220.783 136 210.609 136 200C136.016 195.043 136.931 190.13 138.7 185.5L92.6 155.9C87.0498 161.602 79.9251 165.519 72.1369 167.15C64.3487 168.782 56.2509 168.053 48.879 165.058C41.5071 162.062 35.1961 156.936 30.753 150.335C26.3099 143.734 23.9366 135.957 23.9366 128C23.9366 120.043 26.3099 112.266 30.753 105.665C35.1961 99.0639 41.5071 93.9378 48.879 90.9424C56.2509 87.9469 64.3487 87.2183 72.1369 88.8496C79.9251 90.4809 87.0498 94.398 92.6 100.1L138.7 70.5C136.931 65.8696 136.016 60.9568 136 56C135.975 46.6971 139.186 37.675 145.082 30.4791C150.978 23.2833 159.193 18.3613 168.319 16.5562C177.445 14.7512 186.915 16.1753 195.107 20.5848C203.298 24.9943 209.702 32.1147 213.221 40.7265C216.739 49.3383 217.155 58.9056 214.395 67.7898C211.635 76.674 205.872 84.3223 198.093 89.4246C190.315 94.527 181.004 96.766 171.755 95.7581C162.507 94.7502 153.897 90.5582 147.4 83.9L101.3 113.5C104.899 122.832 104.899 133.168 101.3 142.5L147.4 172.1C152.954 166.42 160.073 162.522 167.85 160.904C175.628 159.285 183.711 160.019 191.07 163.012C198.428 166.005 204.729 171.121 209.169 177.708C213.609 184.296 215.987 192.056 216 200Z" fill="inherit"/>
      </svg> -->
    </Transition>
  </button>
</template>

<style scoped>
.slide-up-enter-active,
.slide-up-leave-active {
  transition: all 0.2s ease-out;
}
.slide-up-enter-from {
  opacity: 0;
  transform: translateY(20px);
}

.slide-up-leave-to {
  opacity: 0;
  transform: translateY(-20px);
}
</style>
