<script setup></script>
<template>
  <div class="relative min-h-screen bg-neutral-50 dark:bg-gray-900">
    <div class="max-w-md min-h-screen bg-white dark:bg-gray-700 mx-auto">
      <slot></slot>
    </div>
  </div>
</template>