<script setup>
const props = defineProps({
  productId: [String, Number],
  description: String,
});
const showMore = ref(false);
const lineOfDesc = ref(0);
const lineclamp = ref(null);

const adjustLineClamp = () => {
  showMore.value = !showMore.value;
};

const calculateDescriptionRow = () => {
  const el = document.getElementById(props.productId);
  const divHeight = el.clientHeight;
  const lineHeight = 24;
  const lines = Math.round(divHeight / lineHeight);
  if (lines >= 5) {
    lineclamp.value = "h-[9em] overflow-y-hidden";
  }
  lineOfDesc.value = lines;
};

watch(showMore, () => {
  if (showMore.value) {
    lineclamp.value = "h-auto";
  } else {
    lineclamp.value = "h-[9em] overflow-y-hidden";
  }
});

onMounted(() => {
  // console.log(lineOfDesc.value);
  calculateDescriptionRow();
});
</script>
<template>
  <article>
    <p class="text-lg font-bold text-neutral-600 dark:text-slate-100">
      Deskripsi
    </p>
    <article class="flex flex-col mt-2">
      <div
        :id="props.productId"
        style="line-height: 24px"
        class="text-sm transition-all text-neutral-700 dark:text-slate-100 whitespace-pre-line"
        :class="lineclamp"
        v-html="props.description"
      ></div>
      <span v-if="lineOfDesc > 5 && !showMore" class="font-bold -mt-1"
        >...</span
      >
      <button
        v-if="lineOfDesc > 5"
        type="button"
        @click="adjustLineClamp"
        class="text-skin-primary text-xs font-semibold mt-3 text-left"
      >
        {{ showMore ? "Lihat lebih sedikit" : "Lihat selengkapnya" }}
      </button>
    </article>
  </article>
</template>
