<script setup>
// Import Swiper styles
import "swiper/css/pagination";
import "swiper/css/navigation";
import { Autoplay, Navigation, Pagination } from "swiper";

const props = defineProps({
  images: Array,
  productStock: Number,
  disabled: Boolean,
});

const swiperModules = [Pagination, Autoplay, Navigation];
</script>
<template>
  <swiper
    :pagination="true"
    :loop="false"
    :space-between="10"
    :modules="swiperModules"
    :autoplay="{ delay: 4000, stopOnLastSlide: true }"
  >
    <swiper-slide v-for="(image, i) in props.images" :key="i">
      <picture class="relative">
        <img :src="image" alt="" class="aspect-square w-full object-cover" />
        <div
          class="absolute inset-0 bg-black/40 flex justify-center items-center"
          v-if="disabled"
        >
          <p class="text-lg font-semibold text-white">Habis</p>
        </div>
      </picture>
    </swiper-slide>
  </swiper>
</template>

<style scoped>
.swiper-button-next,
.swiper-button-prev {
  width: 5px;
  height: 10px;
}

.swiper-pagination-bullet-active {
  background-color: red !important;
}
</style>
