<script setup>
const props = defineProps({
  title: { type: String, default: "Apa Anda yakin" },
  content: { type: String, default: "Apa Anda yakin" },
  confirmationText: { type: String, default: "Ya" },
  showXmark: { type: Boolean, default: true },
  show: { type: Boolean, default: false },
});
const emits = defineEmits(["closeModal"]);
</script>
<template>
  <HeadlessTransitionRoot appear :show="show" as="template">
    <ClientOnly>
      <HeadlessDialog
        as="div"
        @close="emits('closeModal')"
        class="relative z-[101]"
      >
        <HeadlessTransitionChild
          as="template"
          enter="duration-300 ease-out"
          enter-from="opacity-0"
          enter-to="opacity-100"
          leave="duration-200 ease-in"
          leave-from="opacity-100"
          leave-to="opacity-0"
        >
          <div class="fixed inset-0 bg-black bg-opacity-25" />
        </HeadlessTransitionChild>

        <div class="fixed inset-0 overflow-y-auto">
          <div
            class="flex min-h-full items-center justify-center p-4 text-center"
          >
            <HeadlessTransitionChild
              as="template"
              enter="duration-300 ease-out"
              enter-from="opacity-0 scale-95"
              enter-to="opacity-100 scale-100"
              leave="duration-200 ease-in"
              leave-from="opacity-100 scale-100"
              leave-to="opacity-0 scale-95"
            >
              <HeadlessDialogPanel
                class="w-max min-w-full md:min-w-[450px] rounded-lg divide-y divide-neutral-300 bg-white text-center shadow-lg"
              >
                <div class="h-11 w-full flex items-center justify-between px-4">
                  <slot name="header" />
                  <button
                    v-if="props.showXmark"
                    @click="emits('closeModal')"
                    type="button"
                    class="text-slate-600 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto items-center"
                  >
                    <Icon name="mdi:close" />
                  </button>
                </div>
                <div class="w-full h-full max-h-[90vh] overflow-y-auto">
                  <slot name="body" />
                </div>
                <slot name="footer" />
              </HeadlessDialogPanel>
            </HeadlessTransitionChild>
          </div>
        </div>
      </HeadlessDialog>
    </ClientOnly>
  </HeadlessTransitionRoot>
</template>