<script setup></script>

<template>
  <div class="flex flex-col gap-y-6">
    <div
      class="flex p-2 bg-slate-50 dark:bg-slate-600 rounded"
      v-for="i in 4"
      :key="i"
    >
      <picture class="relative">
        <div
          class="flex justify-center items-center w-full h-11 p-4 bg-gray-300 dark:bg-slate-900 rounded animate-skeleton"
        >
          <svg
            class="w-6 h-6 text-gray-200 dark:text-gray-400"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
            fill="currentColor"
            viewBox="0 0 640 512"
          >
            <path
              d="M480 80C480 35.82 515.8 0 560 0C604.2 0 640 35.82 640 80C640 124.2 604.2 160 560 160C515.8 160 480 124.2 480 80zM0 456.1C0 445.6 2.964 435.3 8.551 426.4L225.3 81.01C231.9 70.42 243.5 64 256 64C268.5 64 280.1 70.42 286.8 81.01L412.7 281.7L460.9 202.7C464.1 196.1 472.2 192 480 192C487.8 192 495 196.1 499.1 202.7L631.1 419.1C636.9 428.6 640 439.7 640 450.9C640 484.6 612.6 512 578.9 512H55.91C25.03 512 .0006 486.1 .0006 456.1L0 456.1z"
            />
          </svg>
        </div>
      </picture>
      <div class="px-2 pt-3 flex flex-col gap-y-2 animate-skeleton">
        <div
          class="text-sm w-48 h-2 rounded-md bg-slate-400 dark:bg-slate-900"
        ></div>
        <div
          class="text-sm w-24 h-2 rounded-md bg-slate-400 dark:bg-slate-900"
        ></div>
      </div>
    </div>
  </div>
</template>
