<script setup>
const route = useRoute();
const router = useRouter();

const { data, error } = await useFetch(
  `https://api.lolipad.id/stores/public/product/mfaqihridho.bayu.host?checkoutUrl=${route.params.id}`
);
useHead({
  title: data.value.data.title,
  meta: [
    { property: "og:title", content: data.value.data.products[0].productName },
    {
      property: "og:description",
      content: data.value.data.products[0].productName,
    },
    { property: "og:site:name", content: data.value.data.stores[0].name },
    { property: "og:url", content: route.fullPath },
    { property: "og:type", content: "website" },
    { property: "og:image:type", content: "image/jpg" },
    {
      property: "og:image",
      content: data.value.data.products[0].productImage[0],
    },
  ],
});

const showModal = ref(false);
const showVideo = ref(false);

const filteredVariantActive = computed(() =>
  data.value.data.products[0]?.productVariant
    ? data.value.data.products[0]?.productVariant.filter(
        (v) => v.variantIsActive
      )
    : []
);
const getLowestPrice = computed(
  () =>
    filteredVariantActive.value
      .map((v) => v.variantPrice)
      .sort((a, b) => a - b)[0]
);
const getHighestPrice = computed(
  () =>
    filteredVariantActive.value
      .map((v) => v.variantPrice)
      .sort((a, b) => b - a)[0]
);
const getLowestWeight = computed(
  () =>
    filteredVariantActive.value
      .map((v) => v.variantWeight)
      .sort((a, b) => a - b)[0]
);
const getHighestWeight = computed(
  () =>
    filteredVariantActive.value
      .map((v) => v.variantWeight)
      .sort((a, b) => b - a)[0]
);
const getTotalStock = computed(() => {
  return filteredVariantActive.value
    .map((v) => v.variantStock)
    .reduce((prev, curr) => prev + curr, 0);
});
const isProductOutOfStock = computed(() =>
  filteredVariantActive.value
    .map((el) => el.variantStock)
    .every((stock) => stock === 0)
);

// const discountPercentage = computed(() =>
//   100 -
//     (parseInt(detailProduct.value[0].productPriceDiscounted) / parseInt(getHighestPrice.value)) *
//       100 >
//   1
//     ? parseInt(
//       100 -
//           (parseInt(detailProduct.value[0].productPriceDiscounted) /
//             parseInt(getHighestPrice.value)) *
//             100
//     )
//     : (
//       100 -
//         (parseInt(detailProduct.value[0].productPriceDiscounted) /
//           parseInt(getHighestPrice.value)) *
//           100
//     ).toFixed(2)
// );

const openModal = () => {
  showModal.value = true;
};
const closeModal = () => {
  showModal.value = false;
};
</script>
<template>
  <main v-for="detail in data.data.products" :key="detail.id">
    <div class="flex justify-between items-center p-3.5 dark:bg-gray-800">
      <div class="flex items-center gap-x-3 text-sm dark:text-slate-100 p-1">
        <button type="button" @click="router.back()">
          <!-- <font-awesome-icon icon="fa-solid fa-arrow-left" size="lg" /> -->
          <Icon name="mdi:arrow-left" size="24" />
        </button>
        Detail Produk
      </div>
      <div class="flex items-center gap-x-4">
        <ButtonShare :value="route.fullPath" size="25" />
        <!-- <button type="button" @click="() => $router.push(`/cart`)">
            <CartIcon
              :value="$store.getters['SFcart/getTotalItems']" />
          </button> -->
      </div>
    </div>
    <ProductDetailsImage
      :images="detail.productImage"
      :productStock="10"
      :disabled="false"
    />
    <div
      class="flex flex-col divide-y-2 divide-neutral-100 dark:divide-slate-500/30 dark:bg-gray-800"
    >
      <div class="flex flex-col gap-1 px-5 py-2 dark:text-slate-100">
        <div class="dark:text-slate-100">
          <template v-if="getLowestPrice === getHighestPrice">
            <span class="font-semibold text-xl">{{
              FormatIDR(
                detail.productPriceDiscounted
                  ? detail.productPriceDiscounted
                  : getHighestPrice
              )
            }}</span>
          </template>
          <template v-else>
            <span class="font-semibold text-xl">{{
              `${FormatIDR(getLowestPrice)} - ${FormatIDR(getHighestPrice)}`
            }}</span>
          </template>
        </div>
        <!-- <p class="flex items-center gap-1" v-if="detail.productPriceDiscounted">
            <span
              class="text-rose-500 text-[10px] h-fit px-1 rounded w-fit bg-rose-100 font-bold"
            >{{ discountPercentage }} %</span
            >
            <span class="line-through text-neutral-500 dark:text-gray-400 text-xs decoration-slate-400">{{
              FormatIDR(getHighestPrice)
            }}</span>
          </p> -->
        <p class="text-base dark:text-slate-300">{{ detail.productName }}</p>
      </div>
      <div class="px-5 py-2">
        <p class="font-bold text-neutral-600 dark:text-slate-100 text-lg">
          Spesifikasi Produk
        </p>
        <div class="productDetail flex gap-3 py-2 text-base">
          <div
            class="text-neutral-500 dark:text-slate-400 flex flex-col gap-1 text-sm"
          >
            <p>Tipe</p>
            <p>Kategori</p>
            <p v-if="!!getHighestWeight">Berat</p>
            <p v-if="!!getTotalStock">Stok</p>
          </div>
          <div
            class="font-medium flex flex-col gap-1 dark:text-slate-300 text-sm"
          >
            <p>{{ detail.productType }}</p>
            <p>{{ detail.productCategory }}</p>
            <p v-if="!!getHighestWeight">
              <template v-if="getLowestWeight === getHighestWeight">
                <span>{{ getHighestWeight }} g</span>
              </template>
              <template v-else>
                <span>{{ `${getLowestWeight} - ${getHighestWeight}` }}g</span>
              </template>
            </p>
            <p v-if="!!getTotalStock">{{ getTotalStock }}</p>
          </div>
        </div>
        <!-- <GrosirSection
          v-if="detail.productPriceWholesale !== null"
          :wholeSalePrice="detail.productPriceWholesale"
        /> -->
        <template v-if="detail.productVariant[0].variantCategory">
          <hr class="my-2 dark:border-slate-400/50" />
          <button
            type="button"
            class="flex items-center justify-between w-full h-8"
            @click="openModal"
          >
            <p
              class="text-sm text-neutral-600 dark:text-slate-100 font-semibold"
            >
              Pilih Varian
            </p>
            <font-awesome-icon
              class="text-neutral-600 dark:text-slate-100"
              icon="chevron-right"
            />
          </button>
          <hr class="my-2 dark:border-slate-400/50" />
        </template>
      </div>
      <div class="min-h-[200px]">
        <ProductDescription
          v-if="detail.productDescription"
          :description="detail.productDescription"
          :product-id="detail.id"
          class="px-5 py-2"
        />
      </div>
      <div v-if="youtubeId" class="px-5 py-2">
        <button
          type="button"
          @click="toggleOpenVideo"
          class="flex w-full justify-between items-center"
        >
          <p class="font-bold text-neutral-600 text-lg dark:text-slate-100">
            Video Produk
          </p>
          <font-awesome-icon
            :class="{ 'rotate-180': isOpenVideo }"
            class="text-base transition-transform text-neutral-600 dark:text-slate-100 duration-200"
            icon="chevron-down"
          />
        </button>
        <transition
          enter-from-class="opacity-0 -translate-y-3"
          enter-to-class="opacity-100 translate-y-0"
          enter-active-class="ease-in-out duration-200"
          leave-from-class="opacity-100 translate-y-0"
          leave-to-class="opacity-0 -translate-y-3"
          leave-active-class="ease-in-out duration-200"
        >
          <div
            v-if="isOpenVideo"
            class="w-full mt-3 aspect-video rounded-primary overflow-hidden"
          >
            <iframe
              class="w-full aspect-video ..."
              allowfullscreen
              :src="`https://www.youtube.com/embed/${youtubeId}`"
            ></iframe>
          </div>
        </transition>
      </div>
    </div>
    <div
      id="action"
      class="flex justify-between sticky bottom-0 font-semibold text-sm gap-x-3 p-4 w-full max-w-md bg-white dark:bg-gray-800"
    >
      <!-- :class="[$store.getters['SFcart/getTotalItems'] > 0 ? 'w-1/2' : 'w-full']" -->
      <Button
        class="border border-skin-primary bg-skin-primary/10 text-skin-primary rounded-md py-3"
        @click="openModal"
      >
        <p class="font-semibold">+Keranjang</p>
      </Button>
      <!-- v-if="$store.getters['SFcart/getTotalItems'] > 0" -->
      <Button
        type="primary"
        class="w-1/2 rounded-md flex justify-center items-center gap-x-2"
        @click="$router.push(`/cart`)"
      >
        Checkout
      </Button>
    </div>
    <!-- <ProductTitle /> -->
    <ModalProductAddProduct
      :isOpen="showModal"
      @close-modal="closeModal"
      :product="detail"
      :variant="detail.productVariant"
    />
  </main>
  <div class="dark:bg-gray-800">
    <img src="/orderfaz_square.svg" alt="" class="mb-1 mx-auto w-40" />
  </div>
</template>
