<script setup>
import { getStoreDetails } from "~~/networks/Stores";

// config
const domain = useDomainName();
// const host = computed(() => {
//   if (process.server) {
//     // for 3.0.0.rc_vercions: host = nuxtApp.ssrContext.req.headers.host
//     // UPD 27.01.23:
//     return nuxtApp.ssrContext?.event.node.req.headers.host
//   } else {
//     return window.location.host
//   }
// })

const { data: storeFront, pending, error } = await getStoreDetails(domain);
useSeoMeta({
  title: () => `${storeFront.value?.data.stores[0].name} | Storefront`,
  ogTitle: () => `${storeFront.value?.data.stores[0].name} Store`,
  ogDescription: () => "lorem ipsum dolor sit amet kudasi amet kudasi",
  ogImage: () => storeFront.value.data.stores[0].urlLogo,
  ogType: "website",
  ogSiteName: () => `${storeFront.value?.data.stores[0].name} Storefront`,
});
// useHead({
//   title: `${storeFront.value.data.stores[0].name} | Storefront`,
//   meta: [
//     {
//       property: "og:title",
//       content: `${storeFront.value.data.stores[0].name} | Storefront`,
//     },
//     {
//       property: "og:description",
//       content: storeFront.value.data.stores[0].city,
//     },
//     { property: "og:site:name", content: storeFront.value.data.stores[0].name },
//     { property: "og:url", content: `https://${host.value}` },
//     { property: "og:type", content: "website" },
//     { property: "og:image:type", content: "image/jpg" },
//     {
//       property: "og:image",
//       content: storeFront.value.data.stores[0].urlLogo,
//     },
//   ],
// });

// loading title
const loadingTitle = "Orderfaz | Storefront | One Click Checkout";

// const handleChangeMeta = () => {
//   useHead({
//     title: `${storeFront.details.stores[0].name} | Storefront`,
//     meta: [
//       {
//         property: "og:title",
//         content: `${storeFront.details.stores[0].name} | Storefront`,
//       },
//       {
//         property: "og:description",
//         content: storeFront.details.stores[0].city,
//       },
//       { property: "og:site:name", content: storeFront.details.stores[0].name },
//       { property: "og:url", content: route.fullPath },
//       { property: "og:type", content: "website" },
//       { property: "og:image:type", content: "image/jpg" },
//       {
//         property: "og:image",
//         content: storeFront.details.stores[0].urlLogo,
//       },
//     ],
//   });
// };

const tags = ref([
  { categoryId: 160, categoryName: "Fashion Pria" },
  { categoryId: 190, categoryName: "Gaming" },
  { categoryId: 110, categoryName: "Fashion Pria" },
  { categoryId: 120, categoryName: "Gaming" },
  { categoryId: 130, categoryName: "Fashion Pria" },
  { categoryId: 140, categoryName: "Gaming" },
]);
</script>
<template>
  <div>
    <StoreNavbar />
    <section
      class="px-5 pb-3 flex items-center gap-x-3 gap-1 z-50 bg-white dark:bg-slate-700 w-full"
    >
      <StoreAvatar
        :image-url="storeFront.data.stores[0].urlLogo"
        :fallback="storeFront.data.stores[0].name.slice(0, 1).toUpperCase()"
      />
      <div>
        <div class="flex items-center gap-1">
          <p class="font-semibold text-neutral-800 dark:text-slate-200 text-lg">
            {{ storeFront.data.stores[0].name }}
          </p>
        </div>
        <p class="text-sm text-neutral-500 dark:text-slate-400">
          • {{ storeFront.data.stores[0].city }}
        </p>
      </div>
    </section>
    <section id="storeBanner" class="px-5">
      <StoreBanner :banners="storeFront.data.banners" class="z-50" />
    </section>
    <StoreProductTags :tags="tags" class="px-5 py-3" />
    <section id="productList" class="grid grid-cols-2 gap-5 md:p-3">
      <StoreProduct
        v-for="product in storeFront.data.products"
        :key="product.id"
        :product="product"
      />
    </section>
  </div>
</template>
