<script setup>
import { storeToRefs } from "pinia";
import { useStoreCart } from "~~/stores/cart/storeCart";

const router = useRouter();
const storeCart = useStoreCart();
const { getTotalItems, getProductVariant, cart } = storeToRefs(storeCart);
const selectedProduct = ref([]);

const selectAllProduct = computed({
  get() {
    return getProductVariant.value.length === selectedProduct.value.length;
  },
  set(value) {
    console.log(value);
    const selected = [];
    if (value) {
      getProductVariant.value.forEach((variant) => {
        // if (!getDeletedProduct.value.includes(variant.id)) {
        selected.push(variant);
        // }
      });
    }
    selectedProduct.value = selected;
  },
});
watch(selectedProduct, (newval) => console.log(newval));
</script>
<template>
  <ClientOnly>
    <div>
      <nav
        class="p-4 flex justify-between items-center border-b dark:border-slate-400/50"
      >
        <div class="flex items-center dark:text-slate-100">
          <button type="button" @click="router.push('/')">
            <!-- <font-awesome-icon icon="fa-solid fa-arrow-left" size="lg" /> -->
            <Icon name="mdi:arrow-left" size="24" />
          </button>
          <p class="font-semibold ml-3">Checkout</p>
        </div>
        <IconCart :value="getTotalItems" />
      </nav>
      <div v-if="getTotalItems === 0">
        <div class="flex flex-col justify-center items-center mt-16 sm:mt-32">
          <img
            src="~/assets/images/empty_cart.svg"
            alt=""
            class="opacity-40"
            width="250"
            height="250"
          />
          <p class="font-semibold text-lg opacity-30 dark:text-slate-100 mt-10">
            Keranjangmu masih kosong
          </p>
          <button
            type="button"
            class="text-xs font-medium mt-2 bg-skin-primary text-skin-secondary p-2 rounded"
            @click="router.push('/')"
          >
            Lihat Produk
          </button>
        </div>
      </div>
      <div v-else class="flex flex-col gap-5">
        <InputCheckbox
          v-model="selectAllProduct"
          name="selectAll"
          id="selectAll"
        >
        <template #content-right>
          <p>Pilih Semua</p>
        </template>
        </InputCheckbox>

        <InputCheckbox
          v-for="variant in getProductVariant"
          :key="variant.id"
          v-model="selectedProduct"
          :value="variant"
          class="mb-16 hover:cursor-pointer w-4 rounded-md accent-skin-primary"
          :id="variant.id"
        >
        <template #content-right>
          <p>{{ variant.variantName }}</p>
        </template>
        </InputCheckbox>
        <input
        />
      </div>
    </div>
  </ClientOnly>
</template>
