<script setup>
const props = defineProps({
  imageUrl: {
    type: String,
    default: null,
  },
  fallback: {
    type: String,
    default: "A",
  },
  width: {
    type: [String, Number],
    default: 12,
  },
  height: {
    type: [String, Number],
    default: 12,
  },
});
</script>

<template>
  <picture>
    <img
      v-if="!!props.imageUrl"
      class="w-12 h-12 rounded-full"
      :src="props.imageUrl"
      alt="store logo"
      :width="props.width"
      :height="props.height"
    />
    <div
      v-else
      class="w-12 h-12 rounded-full bg-primary flex justify-center items-center bg-skin-primary"
    >
      <span class="font-bold text-lg text-skin-secondary">{{
        props.fallback
      }}</span>
    </div>
  </picture>
</template>
