<script setup>
import 'swiper/css/pagination';
import { Autoplay, Pagination } from 'swiper';

const props = defineProps({
  banners: Array,
});
const shouldLoop = ref(false);

const swiperModules = [Pagination, Autoplay];
watch(
  () => props.banners,
  (newval, oldval) => {
    if (typeof newval === 'object') {
      shouldLoop.value = newval.length > 1
    }
  }
)
</script>
<template>
  <div>
    <swiper
      :slidesPerView="1"
      :loop="false"
      :spaceBetween="15"
      :autoplay="{
        delay: 4500,
        disableOnInteraction: true,
        stopOnLastSlide: shouldLoop,
      }"
      :modules="swiperModules"
    >
      <swiper-slide v-for="(banner, i) in props.banners" style="width : 100%" :key="i">
        <div class="bg-white dark:bg-slate-700">
          <img
            :src="banner.imageUrl"
            :alt="banner.title"
            class="aspect-[2/1] rounded-xl object-cover w-full"
          />
        </div>
      </swiper-slide>
    </swiper>
  </div>
</template>

<style scoped>
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
</style>
