<script setup>
import { storeToRefs } from 'pinia';
import { useStoreCart } from '~~/stores/cart/storeCart';

const storeCartStore = useStoreCart();
const { getTotalItems } = storeToRefs(storeCartStore);
const searchResult = ref([]);
const isNotFound = ref();

watch(searchResult, (newval, oldval) => {
  if (newval === null) {
    isNotFound.value = true;
  } else {
    isNotFound.value = false;
  }
});
</script>
<template>
  <div
    class="flex flex-row items-center justify-between gap-x-5 px-5 bg-white dark:bg-slate-700 z-50 w-full max-w-md h-14 sticky"
  >
    <InputSearch
      placeholder="Cari produk di toko ini"
      @onFocus="() => $emit('search-mode')"
      class="w-full"
    />
    <div class="flex items-center gap-x-3">
      <ButtonShare size="25" :value="'asdasd'" :text="'Coba Cek Toko ini'" />
      <NuxtLink to="/cart">
        <IconCart class="cursor-pointer" :value="getTotalItems" size="23" />
      </NuxtLink>
    </div>
  </div>
</template>

<style scoped>
.slide-fade-enter-active {
  transition: all 0.2s ease-in;
}

.slide-fade-leave-active {
  transition: all 0.3s ease-out;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateY(-20px);
  opacity: 0;
}
</style>
