<script setup>
// import { FreeMode } from 'swiper';
import "swiper/css/pagination";
import "swiper/css/free-mode";
import { ref } from "vue";

const props = defineProps({
  tags: Array,
});
const emits = defineEmits(["onSelected"]);
// const swiperModules = [FreeMode];
const taglist = ref();
const activeFilter = ref("");
const handleActive = (tag) => {
  activeFilter.value = tag.categoryId;
  emits("onSelected", tag.categoryId);
};
</script>
<template>
  <div
    class="flex items-center gap-3 py-2 bg-white dark:bg-gray-700"
    ref="taglist"
  >
    <div class="relative max-w-max whitespace-nowrap">
      <button
        type="button"
        class="px-4 py-1.5 rounded-lg border whitespace-nowrap transition-all duration-150"
        :class="
          activeFilter === ''
            ? 'bg-skin-primary text-skin-secondary border-transparent'
            : 'text-neutral-400 border-neutral-400 dark:border-gray-800 dark:text-slate-200 dark:bg-gray-800'
        "
        @click="handleActive({ categoryId: '' })"
      >
        Semua Produk
      </button>
    </div>
    <swiper
      :slidesPerView="'auto'"
      :loop="false"
      :spaceBetween="13"
      :modules="[SwiperPagination, SwiperAutoplay]"
    >
      <swiper-slide
        v-for="(tag, i) in props.tags"
        style="width: max-content"
        :key="i"
      >
        <!-- <button
            type="button"
            class="px-4 py-1.5 rounded-lg border whitespace-nowrap transition-all duration-150"
            :class="
              activeFilter === tag.categoryId
                ? 'bg-skin-primary text-skin-secondary border-transparent bg-red-500'
                : 'text-neutral-400 border-neutral-400 dark:border-gray-800 dark:text-slate-200 dark:bg-gray-800'
            "
            @click="handleActive(tag)"
          >
            {{ tag.categoryName }}
          </button> -->
        <div
          class="px-4 py-1.5 rounded-lg border whitespace-nowrap transition-all duration-150 cursor-pointer"
          :class="
            activeFilter === tag.categoryId
              ? 'bg-skin-primary text-skin-secondary border-transparent bg-red-500'
              : 'text-neutral-400 border-neutral-400 dark:border-gray-800 dark:text-slate-200 dark:bg-gray-800'
          "
          @click="handleActive(tag)"
        >
          {{ tag.categoryName }}
        </div>
      </swiper-slide>
    </swiper>
  </div>
</template>
