<script setup lang="ts">
import type { Product } from "~~/utils/interfaces/product";
const props = defineProps<{
  product: Product;
}>();
const router = useRouter();

const isOpen = ref(false);
const isDiscounted = computed(() =>
  props.product?.productVariant &&
  props.product?.productVariant[0].variantCategory
    ? props.product.productVariant.some((variant) => variant.variantPrice)
    : props.product.productPriceDiscounted
    ? true
    : false
);

const isVariant = computed(() =>
  props.product.productVariant
    ? !!props.product.productVariant[0].variantCategory
    : false
);

const productPrice = computed(() => {
  if (isVariant.value) {
    if (isDiscounted.value) {
      return Math.min(
        ...props.product.productVariant.map((item) => item.variantDiscount)
      ) ===
        Math.max(
          ...props.product.productVariant.map((item) => item.variantDiscount)
        )
        ? `${FormatIDR(Math.min(
            ...props.product.productVariant.map((item) => item.variantDiscount)
          ), false)}`
        : `${FormatIDR(
            Math.min(
              ...props.product.productVariant.map(
                (item) => item.variantDiscount
              )
            ),
            true
          )} - ${FormatIDR(
            Math.max(
              ...props.product.productVariant.map(
                (item) => item.variantDiscount
              )
            ),
            true
          )}`;
    }
    return Math.min(
      ...props.product.productVariant.map((item) => item.variantPrice)
    ) ===
      Math.max(...props.product.productVariant.map((item) => item.variantPrice))
      ? Math.min(
          ...props.product.productVariant.map((item) => item.variantPrice)
        )
      : `${FormatIDR(
          Math.min(
            ...props.product.productVariant.map((item) => item.variantPrice)
          ),
          true
        )} - ${FormatIDR(
          Math.max(
            ...props.product.productVariant.map((item) => item.variantPrice)
          ),
          true
        )}`;
  }
  if (isDiscounted.value) {
    return FormatIDR(props.product.productPriceDiscounted);
  }
  return FormatIDR(props.product.productPriceUnit);
});

const productRealPrice = computed(() => {
  if (isVariant.value) {
    return Math.min(
      ...props.product.productVariant.map((item) => item.variantPrice)
    ) ===
      Math.max(...props.product.productVariant.map((item) => item.variantPrice))
      ? Math.min(
          ...props.product.productVariant.map((item) => item.variantPrice)
        )
      : `${FormatIDR(
          Math.min(
            ...props.product.productVariant.map((item) => item.variantPrice)
          ),
          true
        )} - ${FormatIDR(
          Math.max(
            ...props.product.productVariant.map((item) => item.variantPrice)
          ),
          true
        )}`;
  }
  return FormatIDR(props.product.productPriceUnit);
});

const isUnavailable = computed(() =>
  props.product?.productVariant
    ? props.product.productVariant.every(
        (variant) => variant.variantStock === 0
      )
    : false
);
// const productPrice = computed(() => props.product?.productVariant ? props.product)
function closeModal() {
  isOpen.value = false;
}
function openModal() {
  // if (isNoStock.value) return;
  isOpen.value = true;
}
</script>
<template>
  <div
    id=""
    class="transition-all flex flex-col h-full shadow-primary rounded-md overflow-hidden"
  >
    <picture
      class="relative"
      @click="($event) => router.push(`/product/${props.product.checkoutUrl}`)"
    >
      <img
        alt="product image"
        class="aspect-square bg-white hover:cursor-pointer hover:scale-125 transition-all duration-700 object-cover rounded-t-md"
        width="350"
        height="350"
        loading="lazy"
        decoding="async"
        :src="props.product.productImage[0]"
      />
      <div
        v-if="isDiscounted"
        class="absolute top-1 left-1 text-xs py-1 px-2 bg-skin-primary font-semibold text-skin-secondary rounded-primary"
      >
        Promo
      </div>
      <div
        v-if="isUnavailable"
        class="absolute inset-0 bg-black/50 flex items-center justify-center"
      >
        <p class="text-center font-bold text-white">Habis</p>
      </div>

      <p
        v-if="props.product.productType === 200"
        class="text-center absolute bottom-0 inset-x-0 opacity-100 bg-neutral-500/30 py-2 font-medium text-white"
      >
        Jasa
      </p>
    </picture>
    <div
      class="px-3 h-full pt-3 flex bg-white dark:bg-gray-700 flex-col justify-between z-10"
    >
      <h1
        class="text-xs md:text-sm font-medium line-clamp-2 dark:text-slate-300 hover:cursor-pointer"
        @click="($event) => router.push(`/product/milkita`)"
      >
        {{ props.product.productName }}
      </h1>
      <h1
        class="text-sm flex flex-col gap-1 font-semibold sm:text-base sm:font-semibold dark:text-slate-100 mt-2"
      >
        <span>{{ productPrice }}</span>

        <p v-if="isDiscounted" class="flex items-center gap-1">
          <span
            class="text-rose-500 text-[10px] h-fit px-1 rounded w-fit bg-rose-100 font-semibold"
            >10 %</span
          >
          <span
            class="line-through text-xs decoration-rose-500 dark:text-gray-400 dark:decoration-slate-400"
          >
            {{ productRealPrice }}</span
          >
        </p>
      </h1>
      <div
        class="flex items-center self-end justify-end w-full mt-5 mb-3.5 gap-x-2"
      >
        <ButtonShare
          :value="'https://shop.adraquatic.com'"
          :text="`Coba cek produk ini`"
          size="25"
          class="basis-1/5 h-full rounded-md bg-slate-200 dark:bg-slate-100/30"
        />
        <Button
          :disabled="isUnavailable"
          class="w-full p-2 rounded-md basis-4/5 font-semibold"
          @click="openModal"
        >
          + Beli
        </Button>
        <ModalProductAddProduct
          :show="isOpen"
          :product="props.product"
          :variant="props.product.productVariant"
          @close-modal="closeModal"
        />
        <!-- <ShareButton
        :value="productLink"
        :text="`Coba cek produk ${props.name} ini di ${$store.getters['stores/getStoreName']}`"
        class="basis-1/5 p-2 rounded-md dark:bg-slate-100/30"
        :class="!isNoStock ? 'bg-slate-200 dark:bg-gray-800' : 'bg-slate-100 text-gray-300'"
      /> -->
        <!-- <BaseButton
        @click="openModal"
        type="primary"
        class="w-full p-2 rounded-md basis-4/5 font-semibold"
        :isDisabled="isNoStock"
      >
        + Beli
      </BaseButton> -->
      </div>
    </div>
  </div>
</template>
