<script setup></script>
<template>
<div class="px-5 pb-3 flex flex-col gap-1 z-50 -mt-5 bg-white dark:bg-slate-700 w-full">
  <div class="flex items-center gap-x-3">
    <StoreAvatar
      :image-url="storeData?.stores[0].urlLogo"
      :fallback="storeData?.stores[0].name.slice(0, 1).toUpperCase()"
    />
    <div>
      <div class="flex items-center gap-1">
        <p class="font-semibold text-neutral-800 dark:text-slate-200 text-lg">
          {{ storeData?.stores[0].name }}
        </p>
        <!-- <font-awesome-icon
          class="text-neutral-600 dark:text-slate-100 w-2.5 h-2.5"
          icon="chevron-right"
        ></font-awesome-icon> -->
      </div>
      <p class="text-sm text-neutral-500 dark:text-slate-400">• {{ storeData?.stores[0].city }}</p>
    </div>
  </div>
</div>
</template>