<script setup>
const props = defineProps({
  value: [Number, String],
  size: {
    type: String,
    default: '20'
  }
});
</script>
<template>
  <div class="relative">
    <Icon name="ic:baseline-shopping-cart" class="text-neutral-500 dark:text-slate-300" :size="props.size" />
    <div
      v-if="props.value > 0"
      class="absolute -top-3 -right-3 bg-rose-500 h-5 w-max px-1 rounded-full text-xs flex justify-center items-center"
    >
      <p class="text-white font-semibold" v-if="props.value > 99">99+</p>
      <p class="text-white font-semibold" v-else>{{ props.value }}</p>
    </div>
  </div>
</template>
